body, h1, h2, p{
	margin: 0;
}

.mt-115{
	margin-top: 115px;
}

.text-right{
	text-align: right;
}

.mb-66{
	margin-bottom: 66px;
}

.mb-24{
	margin-bottom: 24px;
}

.mb-47{
	margin-bottom: 47px;
}

.mt-96{
	margin-top: 96px;
}

.mt-29{
	margin-top: 29px;
}

/********************************/

.intro{
	width: 100%;
	height: 698px;
	background-image: url('./images/intro.jpg');
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.title{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 27px;
	line-height: 38px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	text-align: center;
}

.discover{
	border: 1px solid #FFFFFF;
	font-family: 'Cardo';
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
	padding: 7px 41px;
	background-color: transparent;
	margin-top: 31px;
}

.question{
	background-color: #050505;
	border-radius: 1px 1px 0px 0px;
	padding: 16px 30px;
	position: absolute;
	left: 20px;
	bottom: 3px;
}

.question span{
	font-family: 'Cardo';
	font-size: 15px;
	line-height: 20px;
	color: #FFFFFF;
}


/********************************/
.features{
	height: 155px;
	display: flex;
    align-items: center;
    justify-content: space-around;
}

.features div{
	display: flex;
	align-items: center;
}

.features img{
	margin-right: 25px;
}

/********************************/
.gallery{
	display: flex;
}

.gallery img{
	flex-grow: 1;
}

/********************************/
.good-block{
	display: flex;
}

.desc-block{
	padding: 47px 22px;
}

.good-title{
	font-family: 'Roboto';
    font-weight: 700;
    font-size: 33px;
    line-height: 56px;
    color: #000000;
    margin-right: 26px;
}

.good-subtitle{
	font-family: 'Cardo';
	font-style: italic;
	font-size: 18px;
	line-height: 37px;
	color: #000000;
	margin-right: 26px;
}

.good-price{
	font-family: 'Cardo';
	font-size: 15px;
	line-height: 28px;
    color: #000000;
    margin: 19px 0 12px;
    margin-right: 26px;
}

.good-desc{
	font-family: 'Cardo';
	font-size: 18px;
	line-height: 31px;
	color: #525252;
}

.good-link{
   	font-family: 'Roboto';
	font-size: 17px;
	line-height: 22px;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid #000000;
	padding: 0px 6px;
}

.good-desc-2{
	font-family: 'Cardo';
	font-size: 16px;
	line-height: 27px;
    color: #54595F;
}